{% extends "base.html" %}
{% load tagger %}
{% block content %}

<ul class="collapsible">
    {% for task in tasks %}
    <li>
        <div class="collapsible-header">
            <div class="col s3">
                <i class="material-icons">expand_more</i>

                <a href="{% url 'delete_task' task|mongo_id %}" class="waves-effect waves-light btn btn_small">Done</a>

                <a href="{% url 'edit_task' task|mongo_id %}"
                    class="waves-effect waves-light btn btn_small blue">Edit</a>
            </div>
            <div class="task_header col s9">
                <strong>{{task.task_name}}</strong> - {{task.due_date}}
            </div>
        </div>
        <div class="collapsible-body">
            <p><strong>Mongo ObjectID: </strong>{{ task|mongo_id }}</p>
            <p><strong>Description</strong> {{task.task_description}}</p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}